PLATFORM="Sentinel-5 Precursor"
USER="s5pguest"
PASSWORD="s5pguest"
RANGE="ingestiondate:[NOW-3DAYS TO NOW]"
POLLUTION="formaldehyde"   # sulfurdioxide | nitrogendioxide | formaldehyde | carbonmonoxide | aerosolI | aerosolH

LOCATION="Aosta"
BBOX=[7.1634, 45.6459, 7.4807, 45.8343]

#LOCATION="Gioia del Colle"
#BBOX=[16.7315, 40.6767, 17.1245, 40.9100]

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGPORT=
PGHOST=localhost

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=